$link-color: $green-100;

.veeam-bp {
  display: block !important;
  padding: 20px;
  background-color: rgba(177, 250, 177, 0.5);
  border-radius: 15px;
}

.veeam-why {
  display: block !important;
  padding: 20px;
  background-color: rgba(92, 185, 240, 0.5);
  border-radius: 15px;
}
